
@model SearchPeopleModel

@{
    ViewData["Title"] = "Search People";

    var SearchedPerson = Model.Person;
}


<div>

    @using (Html.BeginForm())
    {
        @Html.TextBoxFor(model => model.SearchTerm)
        <input type="submit" value="Search" class="btn btn-default" />
    }

    @{
        if (Model.People != null)
        {
            @using (Html.BeginForm())
            {
                <table class="table">

                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Person.PersonID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Person.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Person.LastName)
                        </th>
                    </tr>

                    @foreach (var person in Model.People)
                    {
                        @await Html.PartialAsync("Components/SearchPeopleResultsPartial", person);
                    }
                </table>
            }
        }
    }
</div>
